.container {
  padding: 24px;
  background: #FFFFFF;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 8px;
}

.card{
  padding: 15px;
}

.image-placeholder {
  width: 80px;
  height: 80px;
  background: #e0e0e0;
  border-radius: 4px;
  margin-right: 10px;
}

.card-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.RRC {
  margin: 4px 0;
  color: #151515;
  font-size: 18px;
  text-align: left;
  font-weight: bold;

}

.price {
  font-size: 16px;
  white-space: nowrap;
  font-weight: bold;
}

.tags{
  display: flex;
  gap: 8px;
}

.tag-button {
  background: #eee;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s ease;
  &:hover {
    background: #818080 !important;
  }
  &.active {
    background: #5c5c5c;
    color: #fff;
  }
}

.tag-button:hover {
  background: #ddd;
}

.actions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  flex-wrap: wrap;
  justify-content: right;
}

.dark-btn {
  background: #222;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.input {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 40px;
  width: 80px;
}

.close-btn {
  background: #eee;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.priceArea {
  text-align: right;
  margin-top: 24px;
  .price {
    color: #151515;
    font-size: 30px;
    margin-left: 56px;
  }
}