$base-dark: #252726;

#root {
  margin: 0 auto;
  text-align: center;
}

.form-label {
  display: block;
  font-weight: bold;
  margin: 10px 10px ;
}

.form-button {
  padding: 10px;
  background: $base-dark;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px ;
  &:hover {
    background: #555555;
  }
}

.card {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.create-line {
  width: 100%;
  border-top: 3px solid black;
}

.myli {

  &:hover {
    background-color: #afafaf;
    cursor: pointer;
  }
  li {
    list-style: none;
    border: none;
    margin-left: 10px;
  }
}

h1{
  font-family: "Gothic";
  font-size: 60px;
}

@font-face {
  font-family: "Gothic";
  src: url("./assets/lombardina-initial-one3.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}